.quoteWrapper{
  max-width: 900px;
  margin: auto;
  margin-bottom: 48px;
  border-left: 1px solid;
  padding-left: 30px;
  padding-right: 14px;
  padding-top: 24px;
  .quote h2{
    font-size: 36px;
    font-family: "IBM MONO";
  }
  .source p{
    font-size: 16px;
    font-family: "IBM MONO";
  }
}

@media (max-width: 768px){
  .quoteWrapper{
    margin-left: 0px;
    width: 100%;

    .quote h2{
      font-size: 24px;
    }
    a{
      word-wrap: break-word;
    }
  }
}

@media print{
  .quoteWrapper{
    break-inside: avoid;
  }
}