
.wrapper {
  position: relative;
  width: 100%;
  min-height: 100svh;
}

.download{
  position: fixed;
  top: 14px;
  right: 14px;
  cursor: pointer;
  font-weight: 500;
}

.intro{
  position: absolute;
  z-index: 9;
  width: 100%;
  max-width: 800px;
  line-height: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
  h1{
    font-size: 64px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    a{
      margin: 0 10px;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 24px;
      margin-bottom: 10px;
      font-size: 24px;
      transition: all 0.4s ease;
      display: block;
      height: 100%;
      &:nth-child(1){
        background-color: var(--dark-blue);
        color: var(--green);
      }
      &:nth-child(2){
        background-color: var(--dark-brown);
        color: var(--pink);
      }
      &:nth-child(3){
        background-color: var(--dark-green);
        color: var(--blue);
      }
      &:nth-child(4){
        background-color: var(--dark-brown2);
        color: var(--orange);
      }
      &:hover{
        font-weight: 600;
      }
    }
  }
}

.heartWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.heart {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 300vh;
  min-width: 100vw;
  pointer-events: none;
  transform: translate3d(-50%, 0, 0);
}

.footer{
  position: absolute;
  z-index: 9;
  bottom: 0;
  padding: 14px;
  text-align: center;
  width: 100%;
  p{
    margin: 0;
    font-size: 16px;
    line-height: 1.3;
  }
}

.logo{
  width: 100px;
  height: 100px;
  background-color: black;
  position: fixed;
  right: 14px;
  bottom: 0;
  mask-image: url(/logo.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: 0;
}

@media (max-width: 1000px){
  .intro{
    padding: 0 14px;
    h1{
      font-size: 32px;
    }
    .links a{
      font-size: 18px;
    }
  }
  .heart{
    height: 100vh;
    min-width: 200vw;
  }
  .footer{
    p{
      font-size: 14px;
      max-width: calc(100% - 100px);
    }
  }
  .logo{
    width: 90px;
    height: 90px;
    position: absolute;
  }
  .download{
    position: absolute;
  }
}