.textWrapper{
  max-width: 900px;
  margin: auto;
  padding: 0 14px;
  padding-bottom: 24px;
  b, strong{
    vertical-align: super;
    font-size: 60%;
    font-weight: normal;
    margin-left: -5px;
    margin-right: 5px;
  }
}

