//colors
:root{
--grey: #F4F4F4;
--dark-blue: #1E1327;
--dark-brown: #341919;
--dark-green:#1D2E20;
--dark-brown2:#261919;

--green: #D5FF90;
--pink: #FFBCF9;
--blue: #B7DFFF;
--orange: #FFA167;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'IBM sans';
  src: url('/IBMPlexSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
  font-family: 'IBM mono';
  src: url('/IBMPlexMono-Regular.ttf');
}


body{
  margin: 0;
  background-color: var(--grey);
  font-family: 'IBM sans';
}

h1{
  font-weight: 500;
}

p{
  font-size: 24px;
  line-height: 1.5;
  margin: 50px 0;
}

li{
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 24px;
}

h3{
  font-size: 36px;
  font-weight: 500;
}

a{
  color: inherit;
}

.chapter.achtergrond{
  background-color: var(--dark-blue);
  color: var(--green);
  padding-left: 25vw;
  padding-bottom: 100px;
  .menu{
    background-color: var(--dark-blue);
    color: var(--green);
  }
}

.chapter.het-financieringslandschap{
  background-color: var(--dark-brown);
  color: var(--pink);
  padding-left: 25vw;
  padding-bottom: 100px;
  .menu{
    background-color: var(--dark-brown);
    color: var(--pink);
  }
}

.chapter.potentiele-focusgebieden{
  background-color: var(--dark-green);
  color: var(--blue);
  padding-right: 25vw;
  padding-bottom: 100px;
  .menu{
    background-color: var(--dark-green);
    color: var(--blue);
  }
}

.chapter.aanbevelingen{
  background-color: var(--dark-brown2);
  color: var(--orange);
  padding-right: 25vw;
  padding-bottom: 100px;
  .menu{
    background-color: var(--dark-brown2);
    color: var(--orange);
  }
}

.menu{
  position: fixed;
  z-index: 999;
  left: 0;
  padding: 10px 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  a{
    margin-right: 24px;
    text-decoration: none;
  }
}

@media (max-width: 768px){
  p, li{
    font-size: 18px;
  }
  .chapter.achtergrond{
    padding-left: 0;
  }
  
}


@media print{
  @page {
    size: A4 portrait;
    margin: 0;
  }
  body{
    background-color: white;
  }
  .menu{
    display: none;
  }
  .chapter{
    padding: 24px;
  }
  h3{
    page-break-before: always;
    padding-top: 0;
    margin-top: 0;
  }
  .chapter.achtergrond{
    padding-left: 24px;
    background-color: white;
    color: var(--dark-blue);
  }
  
  .chapter.het-financieringslandschap{
    padding-left: 24px;
    background-color: white;
    color: var(--dark-brown);
  }

  .chapter.potentiele-focusgebieden{
    background-color: white;
    color: var(--dark-green);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 100px;
  }
  
  .chapter.aanbevelingen{
    background-color: white;
    color: var(--dark-brown2);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 100px;
  }
}